.video_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.video {
  width: 280px;
  height: auto;
  margin-bottom: 10px;
}

.v_text {
  margin: 0 0 5px 0;
  text-align: center;
}

.video_box {
  width: 280px;
}