.video_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.video {
  width: 280px;
  height: auto;
  margin-bottom: 10px;
}

.shadowVideo {
  background-color: #966e24;
  width: 280px;
  height: 150px;
  margin-bottom: 10px;
}