.phone_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  padding: 10px;
}

.phone_button:hover, .mail_button:hover {
  cursor: pointer;
}

.mail_button {
  position: fixed;
  bottom: 150px;
  right: 20px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  padding: 10px;
}

.contact_icon {
  font-size: 25px;
  color: white;
  z-index: 2;
  transition: color 0.3s;
}

.contact_icon:hover {
  color: #282828;
}

.sms_button {
  position: fixed;
  bottom: 85px;
  right: 20px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  padding: 10px;
}