.perform_list {
  padding-left: 10px;
}
.perform_item {
  list-style-type: none;
  width: 80%;
}

.p_list_content {
  margin: 0
}

.delete_button:hover {
  cursor: pointer;
}

.delete_button {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid grey;
  background-color: #964824;
  color: white;
}

.p_list_head {
  border-bottom: 2px solid rgb(150, 110, 36);
  margin-bottom: 5px;
}

.c_content {
  margin: 5px;
}

.c_subheading {
  margin-bottom: 0px;
}

.c_list {
  margin: 0;
}

.gig_input {
  background-color: #f7cf83;
  border: 1px solid #966e24;
  font-size: 18px;
  padding: 5px;
  width: 67%;
}

.desc {
  height: 66px;
  resize: none;
}

.g_error {
  color: red;
}

.gig_button {
  margin: 16px 0 16px 0;
  padding: 5px 10px;
  border: 2px solid grey;
  background-color: #966e24;
  color: white;
  cursor: pointer;
}

.gig_button:disabled {
  cursor: not-allowed;
  background-color: #998052;
}

@media only screen and (min-width: 768px) {
  .perform_flex {
    display: flex;
  }

  .perform_left {
    width: 100%;
  }
  .perform_right {
    width: 320px;
    border-left: 2px solid rgb(150, 110, 36, 0.5);
    padding-left: 10px;
    margin-left: 10px;
  }
}