.nav {
  padding: 20px 20px 0 20px;
  margin: 0;
  background-position: left 50% bottom -80px;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: -22%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 300%;
  background-position-x: 50%;
  z-index: -1;
  height: 200%;
}

.bg1::after{
  background-image: url(https://cdn.pixabay.com/photo/2016/12/22/15/38/scenic-1925703_960_720.jpg);
  background-repeat: none;
}

.nav_title {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.user_logins {
  text-align: center;
}

.login_button {
  border-radius: 3px;
  background-color:rgb(150, 110, 36, 0.8);
  border: 1px solid gray;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 20px;
  transition: background-color 0.8s;
}

.login_button:hover {
  cursor: pointer;
  background-color: rgb(150, 110, 36);
}

.navlink_list {
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navlink {
  border-radius: 3px;
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  background: rgb(150, 110, 36, 0.5);
  border-bottom: 3px solid #966e24;
  margin-bottom: 20px;
  transition: background-color 0.8s;
}

.navlink:hover {
  background: rgb(150, 110, 36, 0.9);
  border-bottom: 3px solid #966e24;
}

.navlink > a {
  text-decoration: none;
  color: white;
}

.smaller {
  font-size: 20px;
}

.n_message {
  color: white;
}

.nav_logo {
  display: none;
}

@media only screen and (min-width: 425px) {
  .parallax::after {
    top: -30%;
    background-size: 250%;
  }
}

@media only screen and (min-width: 500px) {
  .parallax::after {
    top: -40%;
    background-size: 200%
  }
}


@media only screen and (min-width: 700px) {

  .nav_title {
    font-size: 50px;
  }

  .navlink {
    display: inline-block;
    list-style-type: none;
    padding: 5px 20px;
  }


  .smaller {
    font-size: 30px;
  }

  .nav {
    height: 400px;
  }

  .parallax::after {
    top: -30%;
    background-size: 150%;
  }
  
}

@media only screen and (min-width: 813px) {
  .nav_logo {
    display: inline-block;
    height: 150px;
    width: auto;
    margin-bottom: -50px;
  }

  
}

@media only screen and (min-width: 918px) {
  .nav_logo {
    display: inline-block;
    height: 300px;
    width: auto;
    margin-bottom: -150px;
  }

}

@media only screen and (min-width: 1024px) {
  .parallax::after {
    top: -15%;
    background-size: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  .parallax::after {
    top: -50%;
  }
}

@supports (-ms-ime-align: auto) {
  .navlink_list {
    justify-content: space-around;
  }

  @media only screen and (min-width: 584px) {
    .nav {
      background-size: 150%;
    }
  }
}